.DS_Store
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/
*.iml
*.lock
.idea/
.gradle/
local.properties
*.jks
*.keystore
.env
pubspec.lock
.vscode/launch.json
android/.gradle/
android/local.properties
android/app/debug/
android/app/profile/
android/app/release/
ios/.symlinks/
ios/.generated/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Podfile.lock
coverage/
.nyc_output/
*.swp
*.swo
*~
.DS_Store
Thumbs.db
